/* Genel Bileşen Stil Ayarları */
.skills {
  background-color: #f4f4f9;
  padding: 4% 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.skills-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.skills h1 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.skill-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  flex: 1 1 calc(33.333% - 2rem); /* 3 kolonlu düzen */
  min-width: 200px;
}

.skill-logo {
  width: 80px;
  height: auto;
  margin-bottom: 1rem;
}

.skill-card h2 {
  font-size: 1.8rem;
  color: #555;
  margin: 0;
  text-transform: uppercase;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
  .skills h1 {
    font-size: 2.5rem;
  }

  .skills-grid {
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    flex: 1 1 80%;
    max-width: 80%;
  }

  .skill-card h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .skills h1 {
    font-size: 2rem;
  }

  .skill-card h2 {
    font-size: 1.2rem;
  }

  .skills-container{
    max-height: 400px;
  overflow-y: scroll;
  }
  .skills-container::-webkit-scrollbar {
    width: 10px;
    /* Kaydırma çubuğunun genişliği */
}
.skills-container::-webkit-scrollbar-thumb {
  background-color: rgba(79, 148, 212, 0.607);
  /* Kaydırma çubuğu rengi */
  border-radius: 4px;
  /* Kaydırma çubuğu köşe yuvarlatması */
}
}
