.profile {
  background-color: #271f56 ;
  font-family: 'Inter';
  font-style: normal;
  margin: 3% auto 0;
}

.profile h1 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #CBF281;
  padding-top: 8.75%;
}

.profile-box {
  display: flex;
  padding-bottom: 10%;
  justify-content: space-between;
  align-items: flex-start;
}

.profile-box-container {
  width: 33%;
  padding-top: 3.4%;
}

.profile-box h2 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 100%;
  color: #FFFFFF;
  padding-bottom: 2.4rem;
}

.profile-box-1-detay {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.profile-box p {
  padding-right: 1rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #CBF281;
  width: 11.3rem;
}

.profile-box-1 span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: 18rem;
}

.profile-box-2 {
  text-align: center;
}

.profile-box-2 img {
  width: 80%;
  border-radius: 3rem;
  padding-right: 1.5rem;
}

.profile-box-3 p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: #FFFFFF;
  width: 100%;
}

@media (width< 1162px) {
  .profile-box {
    flex-direction: column;
    align-items: center;
  }

  .profile-box-1-detay {
    flex-direction: column;
    padding-bottom: 1rem;
    justify-content: center;
  }

  .profile-box-container {
    width: 70%;
  }

  .profile-box-2 img {
    width: 70%;
  }

  .profile h1 {
    font-size: 4rem;
    padding-bottom: 3rem;
  }

  .profile-box h2 {
    font-size: 3rem;
  }

  .profile-box-1 span {
    font-size: 2rem;
  }

  .profile-box p {
    font-size: 1.9rem;
    width: 100%;
  }
}

@media (365px < width< 860px) {

  .profile h1 {
    font-size: 3rem;
  }

  .profile-box h2 {
    font-size: 2.5rem;
  }

  .profile-box-1 span {
    font-size: 1.9rem;
  }

  .profile-box p {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 380px) {
  .profile h1 {
    font-size: 2.3rem;
  }

  .profile-box h2 {
    font-size: 2rem;
  }

  .profile-box-1 span {
    font-size: 1.3rem;
  }

  .profile-box p {
    font-size: 1.3rem;
  }
}