.header {
  font-family: 'Inter';
  font-style: normal;
  background: linear-gradient(to right,
      #4731d3 0%,
      #4731d3 67%,
      #cbf281 67%,
      #cbf281 100%);
}

.header-box{
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header-box-1 {
  width: 67%;
}

.header-box-1-text {
  width: 90%;
}

.header-box-1 h1 {
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 110%;
  color: #cbf281;
}


.header-box-1 h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 7.2rem;
  color: #cbf281;
  padding-top: 6%;
  padding-bottom: 18.5%;
}

.header-box-1 p {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #ffffff;
  margin-top: 5.36%;
}

.header-box-1-button {
  display: flex;
  align-items: center;
  margin-right: 12.2%;
  margin-bottom: 22%;
}

.header-box-1 img {
  width: 26%;
}

.header-box-1 button {
  font-weight: 600;
  font-size: 1.8rem;
  color: #3730A3;
  margin-top: 26.15%;
  border-radius: 0.5rem;
  display: flex;
  width: 95%;
  cursor: pointer;
}

.header-box-1 a{
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header-box-2 {
  width: 40%;
}

.header-box-2 img {
  width: 100%;
  border-radius: 2rem;
}


@media ( width< 1162px) {
  .header-box{
    background: linear-gradient(to right,
    #4731d3 0%,
    #4731d3 80%,
    #cbf281 80%,
    #cbf281 100%);
    flex-direction: column;
    justify-content: center;
  }

  .header-box-2 {
    width: 50%;
    padding-bottom: 2rem;
  }

  .header-box-1-button{
    margin-right: 0;
    margin-bottom: 5%;
    justify-content: center;
  }

  .header-box-1 a{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .header-box-1 h1 {
    font-size: 4rem;
  }

  .header-box-1 h2 {
    font-size: 2.5rem;
  }

  .header-box-1 p {
    font-size: 2rem;
  }

  .header-box-1 button {
    font-size: 1.3rem;
  }
}

@media (365px < width< 860px) {
  .header-box-1 h1 {
    font-size: 3rem;
  }

  .header-box-1 h2 {
    font-size: 2rem;
  }

  .header-box-1 p {
    font-size: 1.5rem;
  }

  .header-box-1 button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 380px) {

  .header-box-1 p {
    line-height: 2rem;
  }

  .header-box-1 h1 {
    font-size: 2rem;
  }

  .header-box-1 h2 {
    font-size: 1.6rem;
  }

  .header-box-1 p {
    font-size: 1.3rem;
  }

  .header-box-1 button {
    font-size: 1rem;
  }
}