.header {
    height: 67.1rem;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
  }
  
  .header-box-1 {
    background-color: #4731d3;
    flex: 0.69;
    padding-left: 24rem;
  }
  
  .header-box-1-text {
    width: 53rem;
    padding-bottom: 14.8rem;
  }
  
  .header-box-1 h1 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 110%;
    color: #cbf281;
  }
  
  .header-box-1 h2 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 7.2rem;
    color: #cbf281;
    padding-top: 3.9rem;
    padding-bottom: 11.4rem;
  }
  
  .header-box-1 p {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #ffffff;
    margin-top: 3.6rem;
  }

  .header-box-1-button{
    display: flex;
    align-items: center;
  }
  
  .header-box-1 button {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #3730A3;
    margin-right: 1.2rem;
    margin-top: 3.6rem;
    border-radius: 1rem;
  }
  
  .header-box-1 button span {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .header-box-2 {
    flex: 0.31;
    background-color: #cbf281;
    position: relative;
  }
  
  .header-box-2-image {
    padding-bottom: 14.8rem;
    position: absolute;
    padding-top: 30rem;
  }
  
  .header-box-2 img {
    width: 40rem;
    position: absolute;
    left: -20rem;
    top: 51%;
    border-radius: 1rem;
  }