.profile {
    background-color: #4731D3;
    margin-top: 9.6rem;
    font-family: 'Inter';
    font-style: normal;
  }
  
  .profile h1 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #CBF281;
    padding-top: 8.4rem;
  }
  
  .profile-box {
    display: flex;
    padding-bottom: 9.6rem;
    justify-content: space-between;
  }
  
  .profile-box-container {
    width: 30rem;
    padding-top: 3.3rem;
  }
  
  .profile-box h2 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 100%;
    color: #FFFFFF;
    padding-bottom: 2.4rem;
  }
  
  .profile-box-1-detay {
    display: flex;
    padding-bottom: 2rem;
  }
  
  .profile-box p {
    padding-right: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #02051E;
    width: 11.3rem;
  }
  
  .profile-box-1 span {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    width: 18rem;
  }
  
  .profile-box-2 {
    text-align: center;
  }
  
  .profile-box-2 img {
    width: 20rem;
    border-radius: 3rem;
    padding-right: 1.5rem;
  }
  
  .profile-box-3 p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    color: #FFFFFF;
    width: 100%;
  }

  @media screen and (max-width: 380px){

    .profile h1 {
      padding-top: 5rem;
    }

    .profile-box-1-detay {
      display: flex;
      padding-bottom: 0;
    }

    .profile-box-3 p {
      width: 90%;
    }

    .profile-box p {
      font-size: 1.9rem;
    }
  }