.footer {
    background: #c0bdbd;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    padding-bottom: 2%;
}

.footer-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.4rem;
}

.footer h1 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 7.2rem;
    color: #4731D3;
    padding-top: 8.75%;
}

.footer p {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 150%;
    color: #120B39;
}

.footer a {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #4731D3;
}

.footer-iletisim button {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 800;
    border-radius: 1rem;
    color: #ffffff;
    background: #4731D3;
    cursor: pointer;
}

.footer-iletisim :active {
    background-color: #ffffff;
    color: #4731D3;
}

.footer-container-img {
    display: flex;
    gap: 2.4rem;
    justify-content: center;
}

.qrCode{
    width: 25%;
  }
  
  .qrCode img{
    width: 100%;
  }

  @media (365px < width ) {
    .qrCode{
        width: 50px;
    }
  }
@media (365px < width< 1162px) {
    .footer h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .footer p {
        font-size: 2.2rem;
    }

    .footer a {
        font-size: 1.8rem;
    }

    .footer-iletisim button {
        font-size: 1.8rem;
    }
}

@media (365px < width< 860px) {
    .footer h1 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .footer p {
        font-size: 2rem;
    }

    .footer a {
        font-size: 1.7rem;
    }

    .footer-iletisim button {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 380px) {
    .footer h1 {
        font-size: 2.8rem;
        line-height: 3rem;
    }

    .footer p {
        font-size: 1.7rem;
    }

    .footer a {
        font-size: 1.5rem;
        letter-spacing: 0;
    }

    .footer-iletisim button {
        font-size: 1.4rem;
    }
}